/* 🛠️ General */
.card-item {
  min-width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 5px;
  transition: transform 0.3s ease;
}

.card-item:hover {
  transform: translateY(-5px);
}

.link-full {
  height: 400px;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* 🖼️ Imagen y Favorito */
.image-container {
  position: relative;
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.heart-icon {
  color: #000;
  font-size: 20px;
}

.heart-icon.favorited {
  color: red;
}

/* 📝 Contenido Principal */
.card-content {
  padding: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.operation-type {
  font-size: 14px;
  font-weight: bold;
}

.price-item {
  font-size: 14px;
  font-weight: bold;
  color: #0891b2;
}

.address {
  font-size: 16px;
  font-weight: bold;
}

.barrio {
  font-size: 14px;
  color: #666;
}

/* 📊 Información Adicional */
.card-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 12px;
  color: #555;
}

.info-item-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* 🌐 Responsive Design */
@media (max-width: 768px) {
  .card-item {
    min-width: 85vw;
    height: auto;
  }
  .link-full {
    height: 350px;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}